[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=OpenOrbiter
Comment=Multiplayer dexterity game
Exec=openorbiter
Icon=openorbiter.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Game;ArcadeGame;
StartupNotify=true
